.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #7e0aa8;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }

  footer{
    background: #7e0aa8;
  }
  
